[submodule "mod_accounts"]
	path = mod_accounts
	url=https://github.com/enavtor/prj_mod_accounts.git

[submodule "mod_calendar"]
	path = mod_calendar
	url=https://github.com/enavtor/prj_mod_calendar.git

[submodule "mod_reminders"]
	path = mod_reminders
	url=https://github.com/enavtor/prj_mod_reminders.git
	