[submodule "mod_calendar"]
	path = mod_calendar
	url = http://git.shtvsolution.com/enavas/prj_mod_calendar.git
[submodule "mod_reminders"]
	path = mod_reminders
	url = http://git.shtvsolution.com/enavas/prj_mod_reminders.git
[submodule "mod_statistics"]
	path = mod_statistics
	url = http://git.shtvsolution.com/enavas/prj_mod_statistics.git
[submodule "mod_accounts"]
	path = mod_accounts
	url = http://git.shtvsolution.com/enavas/prj_mod_accounts.git
